body{
    background-color: burlywood;
    margin: 75px;
    font-family: "Kalam", cursive;
    font-weight: 700;
    font-style: normal;
}
.container{
    display: flex;
    align-items: start;
    justify-content: center;
}
.content{
    margin-left: 15px;
}

img {
    width: 300px;
    height: 300px;
    border-radius: 15px;
}

#button_GEX{
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-size: 15px;
    margin-bottom: 20px;
}

#button_GEX:hover{
    background-color: #3d8b3f;
    box-shadow: 1px 2px black;
    transition: 0.25s;
}

#button_GEX:active{
    color: #4CAF50;
    background-color: white;
    transition: 0.075s;
}